SetEnv HASH_ENCRYPT gtg5igLZasUC3xNfDlvTGBxxkoMuR6FaCYw5
SetEnv ENCRYPT_KEY eTkFHqausC34vmldkSrLkMwX13kqpDg1CYOd

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^core.*
RewriteRule ^(.*)$ /tinbox/index.php?/$1 [L]
RewriteCond %{REQUEST_URI} ^app.*
RewriteRule ^(.*)$ /tinbox/index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|img|robots\.txt)
RewriteRule ^(.*)$ /tinbox/index.php?/$1 [L]

